<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
    <H1>LOGIN</H1>
    <form action='/login' method='POST'>
    <input type="text" name="username" value=""placeholder='username'>

    <input type="password" name="password" value=""placeholder='password'>
    <button type="">Login</button>
    </form>

    <li><a href='/register'>Sign Up</a></li>
    <li><a href='/login'>Login</a></li>
    <li><a href='/logout'>Logout!</a></li>
</body>
</html>